@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.noFavoriteCards{
    font-size: 30px;
}

.starButton{

    background-color: inherit;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s , font-size .3s;
}


.active{
    color: gold;
    font-size: 25px;
    font-weight: bold;
}

.starButton:hover{
    color: gold;
    font-size: 22px;
    font-weight: bold;
}

